
@{
    ViewBag.Title = "SuccessRegister";
}
<link href="~/Content/CheckoutSuccess.css" rel="stylesheet" />
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p>Successfully Registered</p>
       
    </div>
</body>
</html>

